Lambda Function 

A lambda function is a small anonymous function. 
A lambda function can take any number of arguments, but can only have one expression. 

Syntax:
lambda arguments: expression

In [1]:
def add(a,b):
    return a+b
add(4,3)

7

In [ ]:
add=0
print(type(add))

add= lambda a,b : a+b
add(50,60)

x= add(100,200)
print(type(x))

<class 'int'>
<class 'int'>

In [ ]:
nums=[1,2,3] 
# output [1,4,9]  lambad
square= lambda a :[i**i  for i in a]
square(nums)

[1, 4, 27]

In [24]:
import pandas as pd
data= pd.DataFrame({"value":[10,20,35]})
data["double"]= data["value"].apply(lambda a: a*10)
data["student"]= data["value"].apply(lambda a: a*2)
data["value"]= data["value"].apply(lambda x:  x%2 == 0 ,True)
data

C:\Users\Mamatha-Win10\AppData\Local\Temp\ipykernel_5452\713540783.py:5: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  data["value"]= data["value"].apply(lambda x:  x%2 == 0 ,True)

   value  double  student
0   True     100       20
1   True     200       40
2  False     350       70

In [46]:
words = ['Python', 'is', 'awesome']
sentence = " ".join(map(lambda x:x,words))
sentence

'Python is awesome'

In [13]:
# for i in range(10):
#     print(i)

[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
1. # Square Each Number Using map()
numbers=[1,2,3,4,5]
square=list(map( lambda i: i**2,numbers))
square

# print the multiples of 5 (5 to 50) using map
# for i in range(5,51,5):
#     print(i)

multiple= list(map(lambda a :a*5,range(1,10)))
multiple

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [48]:
# Filter Even Numbers Using filter()
list1=[10,20,35,45,66,23]
even= list(filter(lambda a: a%2 ==0,list1))
print(even)


prime=[1,2,5,7,0,22,11]
#ans= list(map(lambda a: ,prime))# inline single 
# ans

[10, 20, 66]

In [19]:
# Sort a List of Tuples by the Second Element
data=[(1,"B"),(2,"A"),(3,"C")]
sorted_data= sorted(data,key=lambda x:x[1])    # 1 means we are sorting 1 index of each tuple
sorted_data

[(2, 'A'), (1, 'B'), (3, 'C')]

In [23]:
# Convert List of Strings to Uppercase Using map()
myname="yamuna gowda"
a= lambda x:x.upper()
print(a(myname))


names=["raT","CaT","mat","net"]
a=list(map(lambda x:x.upper(),names))
print(a)

YAMUNA GOWDA
['RAT', 'CAT', 'MAT', 'NET']

In [24]:
#  Add 10 to Each Element in a List
a= list(map(lambda x: x,range(1,11)))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
name = ["yamuna", "amir", "khasi"]
a = list(map(lambda x: len(x), name))  # Get lengths: [6, 4, 5]
longest_word = max(name, key=lambda x: len(x))  # Get longest word
print(a)  # [6, 4, 5]
print(longest_word)  # yamuna

[6, 4, 5]
yamuna

In [33]:
# get the keys in the given dictionary using lambda function
users=[
    {
        'name':"johan",
        "age":45,
        "gender":"male"
    },
    {
        'name':"Riya",
        "age":35,
        "gender":"female"
    },
    {
        'name':"Bosh",
        "age":25,
        "gender":"male"
    }
]

a= list(map(lambda x: list(x.keys()),users))
a

[['name', 'age', 'gender'],
 ['name', 'age', 'gender'],
 ['name', 'age', 'gender']]

comprehensive  method

In [31]:
# numbers greater than 5
l=[1,3,5,6,10,11,13]

In [7]:
# fetch fruits staring with 'a'
fruits=["apple","guava","cherry","avacdo"]
a= list(filter(lambda x:x.startswith('a'),fruits))
a

['apple', 'avacdo']

In [ ]:
# check fruit in my_fruits list is their in basket and also it should startwith letter a
basket = ["apple", "guava", "cherry", "banana"]
my_fruits = ["apple", "kiwi", "cherry"]

a = list(filter(lambda x: x in my_fruits and x.startswith('a'), basket))
print(a)

['apple']