Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters
Creating Strings
Accessing Strings
Adding Chars to Strings
Editing Strings
Deleting Strings
Operations on Strings
String Functions

In [98]:
# Creating Strings
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

Accessing Substrings from a String

In [99]:
# positive indexing and slicing ( : is called slicing operator)
name="Johan"
# indexing

print(name[0])   # +ve index indiviual letters 
print(name[:])   # entire string
print(name[3])


print(name[0:])  # from 0th index to all character
print(name[1:])  # from 1st index to all character
print(name[:1])  # :1 means get the character before the 1st index 
# name[3:5]="rt"  
x= name[3:5]      # character btw 3:5 (5 is excluded here)
print(x)

J
Johan
a
Johan
ohan
J
an

In [100]:
name="johan"
print(len(name))   # to check total number of characters inside the string

5

In [101]:
# Negative indexing and slicing 
name="johan"
print(name[-1])
print(name[-3:-1])
print(name[1:3])
print(name[:-1])

print("\n")
data="Hello sundar, How are you??"
print(data[-2:])

n
ha
oh
joha


??

Editing and Deleting in Strings

In [102]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable to over come this use below steps

TypeError: 'str' object does not support item assignment

In [ ]:
s = 'hello world'
del s
print(s)  # since s is deleted in the pervious steps you cant access that variable

NameError: name 's' is not defined

Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

Arithmetic Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')
print('delhi'*5)
print("*"*50)
print("delhi"!="delhi")

delhi mumbai
delhidelhidelhidelhidelhi
**************************************************
False

In Python, string comparison is done lexicographically, meaning it compares strings character by character based on their Unicode (or ASCII) values. Each character in a string has a numeric value (e.g., 'a' is 97, 'A' is 65, etc.), and Python uses these values to determine which string is "greater." A string is considered "greater" if it comes later in lexicographical order (like in a dictionary). Here’s how it works:

How String Comparison Works:
Python compares the characters of both strings from left to right.
For each position, it compares the Unicode values of the characters.
If one character has a higher Unicode value, that string is considered "greater," and the comparison stops there.
If the characters are the same, Python moves to the next position.
If one string is a prefix of the other (i.e., it runs out of characters first), the shorter string is considered "less than" the longer one, unless they’re identical up to that point.

Unicode Values:
Lowercase letters (a-z) have Unicode values from 97 (a) to 122 (z).
Uppercase letters (A-Z) have Unicode values from 65 (A) to 90 (Z).
This means uppercase letters are "less than" lowercase letters in terms of Unicode values (e.g., 'A' < 'a').

Relational Operations

In [ ]:
''' 
First Comparison: 'mumbai' > 'pune'
Python compares the strings 'mumbai' and 'pune' character by character:
Position 1: 'm' (Unicode 109) vs. 'p' (Unicode 112). Since 109 < 112, Python stops here.
Because 'm' comes before 'p' in Unicode order, 'mumbai' is lexicographically less than 'pune'.
Thus, 'mumbai' > 'pune' evaluates to False.
'''
print('mumbai' > 'pune')   

''' compare 'Pune' and 'pune':
Position 1: 'P' (Unicode 80) vs. 'p' (Unicode 112). Since 80 < 112, Python stops here.
The uppercase 'P' has a lower Unicode value than the lowercase 'p', so 'Pune' is lexicographically less than 'pune'.
Thus, 'Pune' > 'pune' evaluates to False.'''

'''if u want to check order of any character use the below code'''
print(ord('P'))
print(ord('p'))

print('Pune' > 'pune')

False
80
112
False

Logical Operations

In [ ]:
print('hello' and 'world')
print('hello' or 'world')
print('' and 'world')
print('' or 'world')
print(not 'hello')

world
hello

world
False

Loops on Strings

In [ ]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [ ]:
for i in 'Mumbai':
    print('Pune')

Pune
Pune
Pune
Pune
Pune
Pune

In [ ]:
print('d' in 'delhi')

print('D' not in 'delhi')

True
True

Common Functions
len
max
min
sorted

In [ ]:
print(len('hello world'))

print(max('hello world'))   
# here again we do lexicographic comparison(Unicode) h = 104, e = 101, l = 108, l = 108, o = 111.(space) = 32. w = 119, o = 111, r = 114, l = 108, d = 100.
print(max("World123"))

print(min('hello world'))

print(sorted('hello world',reverse=True))

11
w
r

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())   # 1st letter in the strings is converted to Upper case in capitalize
print(s)

Hello world
hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
'Hello World'.lower()

# method 2
s='Hello World'
print(s.lower())

hello world

In [ ]:
'HeLlO WorLD'.swapcase()   # swaping Upper Case to Lower Case Visa-versa

'hElLo wORld'

Count/Find/Index

In [ ]:
'My name is Yamuna'.count('a')  # we have 3 a character in the string

3

In [ ]:
'My name is Yamuna'.find('a')    # its finding letter a in the strings and if we have same letter repetaed in the strings its fetch the 1st index of the letter

4

In [ ]:
'My name is Yamuna'.index('Y')   # get the index of the letter we searching

11

endswith/startswith

In [ ]:
'my name is Yamuna'.endswith('una')

'my name is Yamuna'.endswith('sho')

'my name is Yamuna'.startswith('name')

False

Split/Join

In [ ]:
s='D:\MY CLASSES\STUDENTS\AMIR and Kasi sir classes'
x=s.split("\\")
x
print(len(x))
string=""
for i  in x:
    if len(x)>4:
        string+=i+"\\"
    print(string)

4

In [ ]:
name="he"
number=123
# print(name + str(number))

print(' '.join(["apple","cat","cow"]))           # '  ' is act like separator

print('-'.join(["apple","cat","cow"]))

print(name.join(['apple']))     # list containe only one value separator is not applied here
print(name.join(['apple', 'banana']))   # now separator he is applied btw apple and banana

apple cat cow
apple-cat-cow
apple
applehebanana

In [ ]:
# replace method
s="Amir and Kasi"
a=s.replace(" and Kasi"," Altaf")
print(a)

Amir Altaf

In [119]:
#Strip   delete the trailing and leading white spaces
'Yamuna                          '.strip()
'                     Yamuna                          '.strip()
'                     Yamuna'.strip()

'Yamuna'

Example Programs

In [120]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

length of string is 6

In [121]:
# Extract username from a given email. 
# Eg if the email is yamunagowda@gmail.com 
# then the username should be yamunagowda

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

yamunagowda