- JSON = JavaScript Object Notation
- It’s a text format for structured data.
- In Python, JSON looks very much like a dict/list.

- dump, load -this methods for  file
- dumps, loads -  these methods for string

- converting python object to json (serilization) -- we use dump, dumps
- json string to python object (deserlization) --  we use load,loads

In [21]:
# json object

details='''{
  "name": "Yamuna",
  "role": "instructor",
  "skills": [
    "python",
    "sql",
    "json"
  ],
  "active": true
}
'''
# json string to python (loads, load (files))
# python object to json (dumps, dump(files))

import json

python_object= json.loads(details)
print(python_object)
print(type(python_object))

print(type(python_object["active"]))

{'name': 'Yamuna', 'role': 'instructor', 'skills': ['python', 'sql', 'json'], 'active': True}
<class 'dict'>
<class 'bool'>

In [26]:
import json
# Python dict
details = {
    "name": None,
    "role": "instructor",
    "skills": ["python", "sql", "json"],
    "active": True
}

# Convert Python -> JSON string
json_object= json.dumps(details,indent=2)
print(json_object)
print(type(json_object))

{
  "name": null,
  "role": "instructor",
  "skills": [
    "python",
    "sql",
    "json"
  ],
  "active": true
}
<class 'str'>

In [29]:
# json file to python
with open("profile.json","r") as f:
    data= json.load(f)
    print(data)
    print(type(data))

{'name': 'Yamuna', 'role': 'instructor', 'skills': ['python', 'sql', 'json'], 'active': True}
<class 'dict'>

In [ ]:
python_data =[
  {"p": 1, "name": "Alice", "marks": 85},
  {"p": 2, "name": "Bob", "marks": 90},
  {"p": 3, "name": "Charlie", "marks": 78}
]

with open("newdata.json","w") as f:
    data= json.dump(python_data, f,indent=4,sort_keys=True)

- JSON supports only: dict, list, str, int, float, bool, None
- Doesn’t support Python objects (like datetime, sets).

In [36]:
from datetime import datetime
date_data={
    "time": datetime.now()
}

with open("dateData.json","w") as f:
    try:
     data= json.dump(date_data, f,indent=2,sort_keys=True,default=str)
    except Exception as e:
       print(e)

In [45]:
 # Working with Lists of JSON Objects
json_str = '''
[
  {"id": 1, "name": "Alice", "marks": 85},
  {"id": 2, "name": "Bob", "marks": 90},
  {"id": 3, "name": "Charlie", "marks": 78}
]
'''

data= json.loads(json_str)
# print(data)
count=0
avr=0
for i in data:
    print(i["marks"])
    count+= i["marks"]
    avr= count/len(data)

print(avr)

85
90
78
84.33333333333333

In [61]:
# nested json
json_str = '''
{
  "company": "TechCorp",
  "employees": [
    {"name": "Alice", "dept": {"id": 101, "title": "HR"}},
    {"name": "Bob", "dept": {"id": 102, "title": "Engineering"}}
  ]
}
'''
em_name= input("enter the employee name: ").lower()
data= json.loads(json_str)
print(f"{data['employees']}")
for i in data["employees"]:
    if em_name == i["name"].lower():
        print(i["dept"]["title"])

[{'name': 'Alice', 'dept': {'id': 101, 'title': 'HR'}}, {'name': 'Bob', 'dept': {'id': 102, 'title': 'Engineering'}}]
Engineering

In [ ]:
# excerise 
# Convert JSON string → Python.

# Print each student’s name and average marks.

# Save it into class.json with pretty format.
{
  "class": "Python101",
  "students": [
    {"name": "Anu", "marks": [80, 85, 90]},
    {"name": "Raj", "marks": [70, 75, 65]}
  ]
}

In [32]:
# What is JSONL? 
# File format: 1 JSON object per line
# 5GB -- json- load enrire at time - memory crash
# jsonl- load file and its treate each line as json object
events = [
    {"id": 1, "event": "login", "user": "Yamuna"},
    {"id": 2, "event": "click", "user": "Raj"},
    {"id": 3, "event": "logout", "user": "Anu"}  # 20000
]
with open("data.jsonl","w", encoding="utf-8") as f:
    for e in events:
        f.write(json.dumps(e)+"\n")

In [33]:
import json

with open("data.jsonl", "r", encoding="utf-8") as f:
    for line in f:
        record = json.loads(line)  # convert JSON string -> Python dict
        print(record)

{'id': 1, 'event': 'login', 'user': 'Yamuna'}
{'id': 2, 'event': 'click', 'user': 'Raj'}
{'id': 3, 'event': 'logout', 'user': 'Anu'}

In [ ]:
import json

students = [
    {"name": "Anu", "marks": [80, 85, 90]},
    {"name": "Raj", "marks": [70, 75, 65]},
    {"name": "Meena", "marks": [88, 92, 95]}
]

In [91]:
# API https://api.open-meteo.com/v1/forecast?latitude=12.97&longitude=77.59&hourly=temperature_2m

import json
from urllib.request import urlopen
url='https://api.open-meteo.com/v1/forecast?latitude=12.97&longitude=77.59&hourly=temperature_2m'
with urlopen(url) as response:
    data= json.load(response)

    print(data)    
# extract hourly temparture data
hourly_temp= data['hourly']['temperature_2m']
hourly_time= data['hourly']['time']
print(hourly_temp)

# time-> temp dict= {time(key):temp(value)}

# zip
weather= dict(zip(hourly_time,hourly_temp))
print(type(weather))
print(len(weather))

# avr_temp=0
# # average tempture
total=0
avrg=0
for i, j in weather.items():
    # print(type(j))
    total+=j
    avrg= total/len(weather)
print(avrg)

{'latitude': 13.0, 'longitude': 77.625, 'generationtime_ms': 0.021219253540039062, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 914.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C'}, 'hourly': {'time': ['2025-09-02T00:00', '2025-09-02T01:00', '2025-09-02T02:00', '2025-09-02T03:00', '2025-09-02T04:00', '2025-09-02T05:00', '2025-09-02T06:00', '2025-09-02T07:00', '2025-09-02T08:00', '2025-09-02T09:00', '2025-09-02T10:00', '2025-09-02T11:00', '2025-09-02T12:00', '2025-09-02T13:00', '2025-09-02T14:00', '2025-09-02T15:00', '2025-09-02T16:00', '2025-09-02T17:00', '2025-09-02T18:00', '2025-09-02T19:00', '2025-09-02T20:00', '2025-09-02T21:00', '2025-09-02T22:00', '2025-09-02T23:00', '2025-09-03T00:00', '2025-09-03T01:00', '2025-09-03T02:00', '2025-09-03T03:00', '2025-09-03T04:00', '2025-09-03T05:00', '2025-09-03T06:00', '2025-09-03T07:00', '2025-09-03T08:00', '2025-09-03T09:00', '2025-09-03T10:00', '2025-09-03T11:00', '2025-09-03T12:00', '2025-09-03T13:00', '2025-09-03T14:00', '2025-09-03T15:00', '2025-09-03T16:00', '2025-09-03T17:00', '2025-09-03T18:00', '2025-09-03T19:00', '2025-09-03T20:00', '2025-09-03T21:00', '2025-09-03T22:00', '2025-09-03T23:00', '2025-09-04T00:00', '2025-09-04T01:00', '2025-09-04T02:00', '2025-09-04T03:00', '2025-09-04T04:00', '2025-09-04T05:00', '2025-09-04T06:00', '2025-09-04T07:00', '2025-09-04T08:00', '2025-09-04T09:00', '2025-09-04T10:00', '2025-09-04T11:00', '2025-09-04T12:00', '2025-09-04T13:00', '2025-09-04T14:00', '2025-09-04T15:00', '2025-09-04T16:00', '2025-09-04T17:00', '2025-09-04T18:00', '2025-09-04T19:00', '2025-09-04T20:00', '2025-09-04T21:00', '2025-09-04T22:00', '2025-09-04T23:00', '2025-09-05T00:00', '2025-09-05T01:00', '2025-09-05T02:00', '2025-09-05T03:00', '2025-09-05T04:00', '2025-09-05T05:00', '2025-09-05T06:00', '2025-09-05T07:00', '2025-09-05T08:00', '2025-09-05T09:00', '2025-09-05T10:00', '2025-09-05T11:00', '2025-09-05T12:00', '2025-09-05T13:00', '2025-09-05T14:00', '2025-09-05T15:00', '2025-09-05T16:00', '2025-09-05T17:00', '2025-09-05T18:00', '2025-09-05T19:00', '2025-09-05T20:00', '2025-09-05T21:00', '2025-09-05T22:00', '2025-09-05T23:00', '2025-09-06T00:00', '2025-09-06T01:00', '2025-09-06T02:00', '2025-09-06T03:00', '2025-09-06T04:00', '2025-09-06T05:00', '2025-09-06T06:00', '2025-09-06T07:00', '2025-09-06T08:00', '2025-09-06T09:00', '2025-09-06T10:00', '2025-09-06T11:00', '2025-09-06T12:00', '2025-09-06T13:00', '2025-09-06T14:00', '2025-09-06T15:00', '2025-09-06T16:00', '2025-09-06T17:00', '2025-09-06T18:00', '2025-09-06T19:00', '2025-09-06T20:00', '2025-09-06T21:00', '2025-09-06T22:00', '2025-09-06T23:00', '2025-09-07T00:00', '2025-09-07T01:00', '2025-09-07T02:00', '2025-09-07T03:00', '2025-09-07T04:00', '2025-09-07T05:00', '2025-09-07T06:00', '2025-09-07T07:00', '2025-09-07T08:00', '2025-09-07T09:00', '2025-09-07T10:00', '2025-09-07T11:00', '2025-09-07T12:00', '2025-09-07T13:00', '2025-09-07T14:00', '2025-09-07T15:00', '2025-09-07T16:00', '2025-09-07T17:00', '2025-09-07T18:00', '2025-09-07T19:00', '2025-09-07T20:00', '2025-09-07T21:00', '2025-09-07T22:00', '2025-09-07T23:00', '2025-09-08T00:00', '2025-09-08T01:00', '2025-09-08T02:00', '2025-09-08T03:00', '2025-09-08T04:00', '2025-09-08T05:00', '2025-09-08T06:00', '2025-09-08T07:00', '2025-09-08T08:00', '2025-09-08T09:00', '2025-09-08T10:00', '2025-09-08T11:00', '2025-09-08T12:00', '2025-09-08T13:00', '2025-09-08T14:00', '2025-09-08T15:00', '2025-09-08T16:00', '2025-09-08T17:00', '2025-09-08T18:00', '2025-09-08T19:00', '2025-09-08T20:00', '2025-09-08T21:00', '2025-09-08T22:00', '2025-09-08T23:00'], 'temperature_2m': [19.8, 19.8, 20.3, 21.3, 22.8, 24.1, 25.1, 26.1, 26.4, 26.7, 26.1, 24.7, 24.1, 23.2, 22.4, 22.2, 21.7, 21.1, 20.8, 20.5, 20.3, 20.0, 19.8, 19.8, 19.7, 19.7, 20.1, 21.0, 22.6, 23.7, 25.1, 26.2, 26.5, 26.1, 26.0, 25.1, 24.3, 23.2, 22.6, 22.1, 21.9, 21.3, 20.7, 20.3, 20.0, 19.9, 19.8, 19.7, 19.6, 19.6, 20.1, 21.5, 23.0, 24.2, 25.2, 26.6, 27.3, 27.1, 26.5, 26.4, 26.1, 25.0, 23.9, 23.3, 22.8, 22.4, 21.7, 21.1, 20.6, 20.3, 20.2, 20.0, 20.0, 19.9, 20.5, 22.0, 23.8, 25.4, 26.6, 27.5, 28.3, 27.8, 27.8, 27.3, 26.2, 25.4, 24.6, 23.8, 23.2, 22.7, 22.3, 21.9, 21.5, 21.2, 20.9, 20.6, 20.6, 20.8, 21.3, 22.1, 23.6, 25.4, 26.9, 27.9, 28.7, 29.0, 28.7, 28.0, 27.1, 26.0, 24.7, 23.7, 23.1, 22.9, 22.6, 22.1, 21.7, 21.3, 20.9, 20.7, 20.6, 20.8, 21.2, 22.0, 23.4, 25.2, 26.5, 27.3, 28.0, 28.3, 28.3, 28.1, 27.6, 26.9, 26.1, 25.2, 24.3, 23.4, 22.6, 22.0, 21.6, 21.2, 20.8, 20.4, 20.3, 20.5, 20.9, 21.7, 23.0, 24.6, 26.1, 27.2, 28.0, 28.5, 28.4, 27.8, 27.1, 26.2, 25.2, 24.3, 23.6, 23.1, 22.6, 22.1, 21.5, 21.1, 20.7, 20.4]}}
[19.8, 19.8, 20.3, 21.3, 22.8, 24.1, 25.1, 26.1, 26.4, 26.7, 26.1, 24.7, 24.1, 23.2, 22.4, 22.2, 21.7, 21.1, 20.8, 20.5, 20.3, 20.0, 19.8, 19.8, 19.7, 19.7, 20.1, 21.0, 22.6, 23.7, 25.1, 26.2, 26.5, 26.1, 26.0, 25.1, 24.3, 23.2, 22.6, 22.1, 21.9, 21.3, 20.7, 20.3, 20.0, 19.9, 19.8, 19.7, 19.6, 19.6, 20.1, 21.5, 23.0, 24.2, 25.2, 26.6, 27.3, 27.1, 26.5, 26.4, 26.1, 25.0, 23.9, 23.3, 22.8, 22.4, 21.7, 21.1, 20.6, 20.3, 20.2, 20.0, 20.0, 19.9, 20.5, 22.0, 23.8, 25.4, 26.6, 27.5, 28.3, 27.8, 27.8, 27.3, 26.2, 25.4, 24.6, 23.8, 23.2, 22.7, 22.3, 21.9, 21.5, 21.2, 20.9, 20.6, 20.6, 20.8, 21.3, 22.1, 23.6, 25.4, 26.9, 27.9, 28.7, 29.0, 28.7, 28.0, 27.1, 26.0, 24.7, 23.7, 23.1, 22.9, 22.6, 22.1, 21.7, 21.3, 20.9, 20.7, 20.6, 20.8, 21.2, 22.0, 23.4, 25.2, 26.5, 27.3, 28.0, 28.3, 28.3, 28.1, 27.6, 26.9, 26.1, 25.2, 24.3, 23.4, 22.6, 22.0, 21.6, 21.2, 20.8, 20.4, 20.3, 20.5, 20.9, 21.7, 23.0, 24.6, 26.1, 27.2, 28.0, 28.5, 28.4, 27.8, 27.1, 26.2, 25.2, 24.3, 23.6, 23.1, 22.6, 22.1, 21.5, 21.1, 20.7, 20.4]
<class 'dict'>
168
23.445833333333322

In [3]:
# https://api.github.com/users/torvalds/repos Linux creator
# get all the name of user in reposne repo- store in list

import json
from urllib.request import urlopen
url='https://api.github.com/users/torvalds/repos'
with urlopen(url) as response:
    data= json.load(response)
    # print(data)
user_name=[]
for i in data:
   print(i["name"])
   user_name.append({i["name"]:i["watchers"]})
print(user_name)
# dict

1590A
libdc-for-dirk
libgit2
linux
pesconvert
subsurface-for-dirk
test-tlb
uemacs
[{'1590A': 409}, {'libdc-for-dirk': 275}, {'libgit2': 214}, {'linux': 201640}, {'pesconvert': 446}, {'subsurface-for-dirk': 339}, {'test-tlb': 810}, {'uemacs': 1560}]